#texts{
    -fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-fill: #ffd505;
    -fx-stroke: #ba7b16;
}

#buttons {
    -fx-background-radius: 10px;
    -fx-font-size: 17px;
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient( #50421f, #2b240f);
    -fx-effect: dropshadow( three-pass-box , rgba(127, 108, 108, 0.6), 5, 0.0 , 0 , 1 );


}
#buttons:hover {
    -fx-background-radius: 10px;
    -fx-background-color: linear-gradient( #2b240f,#50421f);
    -fx-font-size: 18.3px;
}
