#num {
-fx-font-size: 15px;
-fx-text-fill: WHITE;
-fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
}
#volume {
-fx-font-size: 25px;
-fx-text-fill:WHITE;
-fx-font-family: "Arial Narrow";
-fx-font-weight: bold;
}


#color-slider .track{
    -fx-background-color: #c17e1c;
}

