
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

/* GLOBAL COLOR VARIABLES */
* {
    -fx-primary-color: #135ADD;
    -fx-secondary-color: #649ACC;
    -fx-bg-color: #080A1E;
    -fx-darken-color: #00030A;
    -fx-lighten-color: #B0CAFF;
}

/* CUSTOM UBUNTU FONT */
@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-Medium.ttf');
}

/* SUB-MENU */
.sub-menu {
    -fx-alignment: center;
    -fx-background-color: linear-gradient(to right, -fx-darken-color 0%, transparent 50%, -fx-darken-color 100%);
    -fx-background-radius: 70px;
}

/* MENU SLIDER */
.menu-slider {
    -fx-effect: dropshadow(gaussian, -fx-bg-color, 2, .5, 0, 0);
}
.slider .thumb {
    -fx-background-color: -fx-primary-color;
    -fx-effect: dropshadow(gaussian, -fx-darken-color, 8, .5, 0, 0);
}
.slider .track {
    -fx-background-color: transparent;
}
.slider-label {
    -fx-font-size: 20px;
    -fx-text-fill: -fx-lighten-color;
    -fx-font-family: 'Zen Dots', cursive;
    -fx-font-weight: bold;
}
.value-label {
    -fx-font-size: 16px;
    -fx-text-fill: -fx-lighten-color;
    -fx-font-family: 'Zen Dots', cursive;
    -fx-font-weight: bold;
}

/* LEADERBOARD */
#sub-menu-scores {
    -fx-background-image: url("img/menu/leaderboard.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 680 500;
    -fx-background-position: center;
    -fx-effect: innershadow(gaussian, -fx-bg-color, 10, .5, 0, 0);
    -fx-spacing: 25;
    -fx-padding: 80 40 10 40;
}
.leaderboard-label {
    -fx-font-size: 30px;
    -fx-text-alignment: center;
    -fx-text-fill: -fx-secondary-color;
    -fx-font-family: 'Zen Dots', cursive;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, -fx-primary-color, 8, .6, 0, 0);
}
#scores-table {
    -fx-max-width: 680;
    -fx-max-height: 500;
}
#scores-table, #scores-table * {
    -fx-background-color: transparent;
}
#scores-table .table-column {
    -fx-alignment: center;
    -fx-font-size: 18px;
    -fx-pref-width: 150px;
    -fx-font-family: 'Ubuntu';
    -fx-text-fill: -fx-lighten-color;
    -fx-font-weight: bold;
}
#scores-table .column-header .label {
    -fx-font-size: 24px;
    -fx-text-fill: -fx-secondary-color;
    -fx-font-family: 'Zen Dots', cursive;
    -fx-effect: dropshadow(gaussian, -fx-primary-color, 8, .6, 0, 0);
}
#scores-table .table-cell {
    -fx-border-width: 0;
    -fx-min-height: 30px;
    -fx-border-color: transparent;
}

/* PROGRESS PANE */
.progress-pane {
    -fx-pref-columns: 3;
    -fx-pref-tile-height: 35px;
    -fx-pref-tile-width: 265px;
    -fx-hgap: 2px;
    -fx-min-height: 35px;
    -fx-alignment: center;
    -fx-background-color: linear-gradient(to left, -fx-darken-color 0%, rgba(8, 10, 30, .6) 50%, -fx-darken-color 100%);
}
.progress-pane .progress-cell {
    -fx-alignment: center;
}
.progress-pane .progress-cell .label {
    -fx-font-size: 20px;
    -fx-text-alignment: center;
    -fx-text-fill: -fx-secondary-color;
    -fx-font-family: 'Zen Dots', cursive;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, -fx-primary-color, 8, .6, 0, 0);
}
.progress-pane #home-health-bar {
    -fx-max-width: 240px;
    -fx-max-height: 25px;
    -fx-border-radius: 20px;
    -fx-border-width: 2px;
    -fx-border-color: -fx-primary-color;
    -fx-effect: innershadow(gaussian, -fx-darken-color, 4, .1, 0, 0);
}
.progress-pane #home-health-label {
    -fx-font-size: 13px;
    -fx-max-width: 242px;
    -fx-font-family: 'Zen Dots', cursive;
}

/* OTHER */
#text-effect{
   -fx-font: 50px Tahoma;
   -fx-fill: linear-gradient(from 0% 0% to 0% 0%, repeat, aqua 100%, Blue 100%);
   -fx-stroke: Blue;
   -fx-stroke-width: 1;
   -fx-alignment: center;
   -fx-font-smoothing-type: lcd;
}

.scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.scroll-bar:vertical {
    -fx-background-color: black;
    -fx-border-width: 0;
}
.scroll-bar:horizontal .track,  .scroll-bar:vertical .track
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .increment-button,  .scroll-bar:horizontal .decrement-button
{
    -fx-background-color: transparent;

}

.scroll-bar:vertical .increment-button,  .scroll-bar:vertical .decrement-button
{
    -fx-background-color: transparent;

}
.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow{
    -fx-shape:"";
    -fx-padding:0 0 8 0;
}
.scroll-bar:horizontal .thumb,  .scroll-bar:vertical .thumb
{
    -fx-background-color:  transparent;
    -fx-background-radius: 8em;
    -fx-border-radius: 8em;
    /*-fx-pref-height: 10px;*/
}
.scroll-pane .corner {
    -fx-background-color: transparent;
}
.scroll-pane .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-pane .content {
    -fx-alignment: center;
    -fx-background-color: transparent;
}


#title{
    -fx-border-width: 1px 1px 3px 1px ;
    -fx-border-color: #2b2b2b;
}


#winClose{
    -fx-background-image:url("img/menu/close.png");
    -fx-background-size: 20px;
    -fx-background-repeat:no-repeat;
}
#name{
    -fx-font-size: 15px;
    -fx-text-fill: -fx-lighten-color;
    -fx-font-family: "Ubuntu";
    -fx-font-weight: bold;
}

#changeSkin .arrow {
    -fx-background-color:transparent;
}

#texts{
    -fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-font-family: 'Zen Dots', cursive;
    -fx-font-weight: bold;
    -fx-fill: #ffd505;
    -fx-stroke: #ba7b16;
}
.text-field {
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 0;
    -fx-padding: 4 7 4 15 ;
    -fx-text-inner-color: #f0f8ff;
    -fx-display-caret: True;
    -fx-border-color: #4169e1;
    -fx-prompt-text-fill: #4169e1;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-font-family: 'Zen Dots', cursive;
    -fx-font-size: 30;

}

.text-field:focused {
    -fx-background-color:
                rgba(0,0,0,0)
                rgba(0,0,0,0);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 0;
    -fx-text-inner-color: #f0f8ff;
    -fx-padding: 4 7 4 15 ;
    -fx-display-caret: True;
    -fx-font-family: 'Zen Dots', cursive;
}